.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  border: .5px solid black; 
}

.modal {
  padding: 30px;
  max-width: 800px;
  margin: 200px auto;
  background: #fff;
  border-radius: 10px;
}

.project-img {
  max-width: 220px;
  max-height: 220px;
  width: auto;
  height: auto;
  display: block;
  
}

.project-container {
  display: flex;
  justify-content: space-between;
}